// -----------------------------------------------------------------------------
// This file contains all font declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
    font-family: NeoSansArabic;
    src: url("../../fonts/NeoSansArabic.ttf");
}

@font-face {
    font-family: NeoSansArabicMedium;
    src: url("../../fonts/NeoSansArabicMedium.ttf");
}
